<h1>Typescript in an addon</h1>

<p>
  This demo shows how we can successfully import code from typescript
  in both the `addon/` and `app/` directories.
</p>

<ul>
  <li>{{fileInAddonDir}}</li>
  <li>{{fileInAppDir}}</li>
</ul>